<footer>
     <div class="container">
         <div class="row">
             <div class="col-md-6 offset-md-3 text-center">

               
                <a href="https://www.facebook.com/jessicasharmanmusic/" target="_blank"><i class="fa fa-facebook fa-2x social-icons"></i></a>
                
                <a class="px-4" href="https://www.instagram.com/jessicasharman" target="_blank"><i class="fa fa-instagram fa-2x social-icons"></i></a>
                
                <a href="mailto:jessica@jessicasharman.com" target="_blank"><i class="fa fa-envelope-o fa-lg social-icons" aria-hidden="true"></i></a>
                   
       
         </div>
     </div>
 </footer>