<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded px-0">
  <button class="navbar-toggler hidden-lg-up ml-2" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to '', root_path, :alt => "Jess Sharman Logo", :class => "navbar-brand hidden-md-down ml-2" %>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#index">Home</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" href="#listen">Listen</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" href="#news">News</a>
      </li>
      <li class="nav-item text-right">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
    
  </div>
</nav>










