/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 @import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 .hidden {
  display: none;
 }


  html,
  body {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }
  hr {
    border-color: #e5c687;
    border-width: 3px;
    max-width: 50px;
  }
  hr.light {
    border-color: white;
  }
  a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    
  }
  a:hover,
  a:focus {
    color: #e5c687;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #777;
  }
  h4 {
    color: #e5c687;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  p.timeline-Tweet-text{
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .bg-primary {
    background-color: #ffffff;
  }
  .bg-dark {
    background-color: #222222;
    color: white;
  }
  .text-faded {
    color: rgba(255, 255, 255, 0.7);
  }
  section {
    padding: 100px 0;
  }

  #about {
    color: #777;
  }
  #news {
    color: #777;
  }

  .social-icons{
    
    color: white;
  }
  .social-icon-main {
    margin-top: 2em;
  }
  

  .btn:focus, .btn:hover {
      text-decoration: none;
      background-color: #e5c687;
      cursor: pointer;
  }


  #jess {

   

    background:url('../images/jess.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    


    height: 400px;

  }

  #mixer {

    background: url('../images/mixer_desk.jpg');
    
    background-position: center;

    background-size: cover;
    
    background-attachment: fixed;

    height: 400px;

   
  }
  #typewriter {

    background: url('../images/typewriter.jpg'); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    

  }

  #jess_tea {

    background: url('../images/twitter-img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;


  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }

  aside {
    padding: 50px 0;
  }
  .italic {
    font-style: italic;
  }

  footer {
    background-color: #e5c687;
    height: 100px;
    padding-top: 30px;
    color: #ffffff;
  }
  i.fa.fa-envelope-o.fa-lg  {
    color: #ffffff;
    font-size: 2em;
    padding: none;
    vertical-align: +5%;
  }     
  i.fa.social-icons.landing:hover {
    color: #e5c687;
  }             
  .title-links {
    cursor: pointer;
  }
  .navbar {
    border:none;
  }             


  .no-padding {
    padding: 0;
  }
 
// New nav

nav {
    -webkit-transition: all 0.7s ease 0s;
}

nav.navbar {
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  border-radius: none;
  border: none;
  height: 60px;
  
}

.navbar-light .navbar-nav .nav-link {
    color: #777;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #e5c687 !important;
}

a.navbar-brand {
  width: 300px;
  height: 60px;
  background:url('../images/jess_logo_white.svg') no-repeat center center;
  -webkit-transition: all 0.7s ease 0s;
}

a.navbar-brand.scrolled {
  background:url('../images/jess_logo_black.svg') no-repeat center center;
  -webkit-transition: all 0.7s ease 0s;
}

nav.navbar.navbar-white {
  background-color: #ffffff;
  -webkit-transition: all 0.7s ease 0s;
}

div#main-navbar.navbar-toggleable-md{
  text-align: center;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0); 
}



@media screen and (max-width: 992px){
  #main-navbar {
      clear: both;
  }
  #main-navbar.show{
    margin-top: 40px;
  }
}

  // New nav end



img.main-logo {

  margin-left: auto;
  margin-right: auto;
  width: 700px;

}

  img#brand-logo {
    margin-top: 5px;
  }
  .panel-default {
    border: none;
  }
  .form-control {
    font-size: 16px;
  }

 input#contact_name.string {
   width: 100%;
   font-size: 16px;
   font-family: 'Merriweather';
 }
 input#contact_email.string {
   width: 100%;
   font-size: 16px;
   font-family: 'Merriweather';
 }

 textarea#contact_message.text {
   width: 100%;
   font-size: 16px;
   font-family: 'Merriweather';
 }
 input.button.btn.btn-xl {
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
   border: none;
   border-radius: 300px;
   font-weight: 700;
   text-transform: uppercase;
   padding: 1.2em;
   background-image: none;
   text-shadow: none;

 }

 span.error {
   display: none;
 }
  a:hover {
    text-decoration: none;
  }
  input.button.btn.btn-xl:hover{
   background-image: none;
    background-color: #e5c687;
  }


  /* ============================================================
    OVERLAY
  ============================================================ */

  .white {
    color: #fff;

  }
  // .effects {
  //   padding-left: 15px;
  // }
  .effects .img {
    position: relative;
    float: left;
    margin-bottom: 5px;
    width: 25%;
    overflow: hidden;
  }
  // .effects .img:nth-child(n) {
  //   margin-right: 3px;
  // }
  // .effects .img:first-child {
  //   margin-left: -15px;
  // }
  .effects .img:last-child {
    margin-right: 0;
  }
  .effects .img img {
   
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
  }

  .overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    padding: 10px;
  }

  a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
  }
  a.close-overlay.hidden {
    display: none;
  }

  a.expand {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
    border: solid 5px #fff;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
  }
  // img.itunes {
  //   max-width: 10px;
  //   position: relative;
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-top: 2em;
  // }
  /* ============================================================
    EFFECT 1 - SLIDE IN BOTTOM
  ============================================================ */
  #effect-1 .overlay {
    bottom: -20px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
  }
  #effect-1 .overlay a.expand {
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 auto -30px auto;
  }
  #effect-1 .img.hover .overlay {
    height: 100%;
    bottom: 0px;
    
  }
 
 

 /* END slide in bottom*/

  article{
    margin-top: 50px;
  }
  header {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
   background-color: #171814;
    text-align: center;
    color: white;
  }

  #contactForm {
    padding: 20px 0px 20px 0;
  }

  #contactForm button {
    margin-top: 20px;
  }

  .newsheadline {

      position: absolute;
      width: 200px;
      height: 100px;
      top: 50%;
      left: 50%;
      margin-left: -100px; /* margin is -0.5 * dimension */
      margin-top: -25px; 
  }
  
 
  header .header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    max-width: 100%;
  }
 
 
  
  @media (min-width: 768px) {
    header {
      min-height: 100%;
    }
    
    header .header-content .header-content-inner {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    header .header-content .header-content-inner p {
      font-size: 18px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
   
  }
  .section-heading {
    margin-top: 0;
  }
  
  @media only screen and (max-width: 1100px) {
    .effects {
      padding-left: 5px;
      padding-right: 5px;
    }
    .effects .img {
      width: 50%;
    }
    // .effects .img:nth-child(n) {
    //   margin-right: 5px;
    // }
    .effects .img:first-child {
      margin-left: 0;
    }
    .effects .img:nth-child(2n-1) {
      margin-left: -5px;
    }
    .effects .img:nth-child(2n) {
      margin-right: 0;
    }
    .effects .img:last-child {
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 520px) {
    .effects .img {
      width: 100%;
    }
    .effects .img:nth-child(n) {
      margin-right: 0;
    }
    .effects .img:first-child {
      margin-left: 0;
    }
    .effects .img:nth-child(2n-1) {
      margin-left: 0;
    }
    .effects .img:nth-child(2n) {
      margin-right: 0;
    }
    .effects .img:last-child {
      margin-right: 0;
    }
    .effects .img img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;

    }
  }


@media (max-width: 992px) {
  nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-faded{

  background-color:#ffffff;
  }

  .navbar-collapse.collapse.show {
    background-color:#ffffff;

  }
  .navbar-nav {
    text-align: center;
  }
  a.nav-link {
    text-align: center;
  }
} 
 
  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
  .btn-default {
    color: #222222;
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
  }
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    background-image: none;
  }
  .btn-default.disabled,
  .btn-default[disabled],
  fieldset[disabled] .btn-default,
  .btn-default.disabled:hover,
  .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus,
  .btn-default[disabled]:focus,
  fieldset[disabled] .btn-default:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default.focus,
  .btn-default.disabled:active,
  .btn-default[disabled]:active,
  fieldset[disabled] .btn-default:active,
  .btn-default.disabled.active,
  .btn-default[disabled].active,
  fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn-default .badge {
    color: #ffffff;
    background-color: #222222;
  }
  .btn-primary {
    color: #ffffff;
    background-color: #e5c687;
    border-color: #e5c687;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #ee4b28;
    border-color: #ed431f;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    background-image: none;
  }
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: #e5c687;
    border-color: #e5c687;
  }
  .btn-primary .badge {
    color: #e5c687;
    background-color: #ffffff;
  }
  .btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  ::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222;
  }
  ::selection {
    color: white;
    text-shadow: none;
    background: #222222;
  }
  img::selection {
    color: white;
    background: transparent;
  }
  img::-moz-selection {
    color: white;
    background: transparent;
  }
  body {
    webkit-tap-highlight-color: #222222;
  }
  #email-img {
    max-width: 400px;
  }


  a.thankyou-nav {
    color: #222222 !important;
  }

  .hidden { display: none; }




/* Media Queries for Main Logo */
@media (max-width: 768px) {
  img.main-logo {

    margin-left: auto;
    margin-right: auto;
    width: 350px;

  }
}
/* Media Queries for Main Logo End */
  /* ------------------------------------------------------------ *\
  |* ------------------------------------------------------------ *|
  |* Media Queries for image overlays
  |* ------------------------------------------------------------ *|
  \* ------------------------------------------------------------ */
  @media only screen and (max-width: 1100px) {
    .effects {
      padding-left: 5px;
    }
    .effects .img {
      width: 50%;
    }
    // .effects .img:nth-child(n) {
    //   margin-right: 5px;
    // }
    .effects .img:first-child {
      margin-left: 0;
    }
    .effects .img:nth-child(2n-1) {
      margin-left: -5px;
    }
    .effects .img:nth-child(2n) {
      margin-right: 0;
    }
    .effects .img:last-child {
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 520px) {
    .effects .img {
      width: 100%;
    }
    .effects .img:nth-child(n) {
      margin-right: 0;
    }
    .effects .img:first-child {
      margin-left: 0;
    }
    .effects .img:nth-child(2n-1) {
      margin-left: 0;
    }
    .effects .img:nth-child(2n) {
      margin-right: 0;
    }
    .effects .img:last-child {
      margin-right: 0;
    }
    .effects .img img {
      margin: 0 auto;
    }
  }

  /*flash*/

  // Devise
  .login {

    margin-top: 60px;
    min-height: 700px;
  }
  label.email.optional {
    padding-right: 5px;
  }
  label.password.optional {
    padding-right: 5px;
  }
  input.boolean.optional {
    padding-right: 5px;
  }
